@model IEnumerable<Funcionarios.Models.Dtos.FuncionarioDto>

@{
    ViewData["Title"] = "List";
}

<h1>Lista de Funcionários</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Funcionário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            
            <td>
                @Html.ActionLink("Atualizar", "Edit", new { id=item.Id}) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.Id}) |
                @Html.ActionLink("Excluir", "Delete", new {id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
